<div class="image">
  <img src="../assets/LogoCityDiscover.png">
</div>
<div class="description">
  <p>City Discover, c’est un site, une application, qui te permet de programmer tes sorties que soit de dernière minutes ou à l’avance. Tu pourras retrouver tes activités préférées comme des sorties culturelles ou des fêtes étudiantes pour sortir à Paris ou en découvrir puis les ajoutées dans tes favoris.</p>
  <p><strong>En une seule application, tu trouveras tout ce que tu cherches... et bien plus !</strong></p>
  <p>Tu es intéressé ? Inscris-toi pour être informé en premier lorsque l’application sortira :</p>
</div>
<div class="formulaire">
  <form>
    <input type="text" placeholder="Entre ton Adresse mail">
    <button><img src="../assets/Envoie.svg"></button>
  </form>
</div>
<div class="sondage">
  <p>Et d’ailleurs, tu peux aussi nous aider ! Comment ? En répondant à ce sondage qui ne te prendras pas plus de 5 minutes.</p>
</div>
<div class="link">
  <a href="https://docs.google.com/forms/d/1SfgrJ1dNtS63QRZ0aqVW-qzzJEwFh6GZouO4qOAhH6M/viewform?edit_requested=true">Répondre au sondage</a>
</div>
<div class="remerciement">
  <p>À très vite... L’équipe City Discover !</p>
</div>
